package home

import "github.com/HsiaoCz/gohtt/views/layout"

templ Index() {
	@layout.Base() {
		<div class="flex flex-col items-center">
			<div class="text-xl border border-red-400 text-blue-500 font-bold">
				home page
			</div>
		</div>
	}
}
